/* 
=============
Fonts
=============
*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

/* 
=============
Variables
=============
*/
:root {
  --background-main: #010002;
  --gradient-orange-top:linear-gradient(180deg, #ED1E79 0%, #FBB03B 100%);
  --gradient-orange-left: linear-gradient(90deg, #ED1E79 0%, #FBB03B 100%);
  --red-color: #ED1E79;
  --yellow-color: #FBB03B;
  --black-color: #1A1A1A;
  --main-white: #fff;
  --mainff: 'Work Sans', sans-serif;
  --least-lineh: 20px;
  --transition: all 0.3s linear;
  --border-radius: 1rem;
  --btn-radius: 64px;
  --pool-background: radial-gradient(84.11% 26.45% at 52.4% 0%, rgba(237, 30, 121, 0.65) 0%, 
  rgba(237,  30, 121, 0.4) 41.49%, rgba(237, 30, 121, 0) 100%),
    #040404;
    /* background: radial-gradient(100.59% 29.94% at 50% 100%, #ED1E79 0%, rgba(237, 30, 121, 0) 100%); */
}

/* 
=============
Globals
=============
*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--background-main);
}
a {
  text-decoration: none;
  font-family: var(--mainff);
}
ul {
  list-style: none;
}
img:not(.navlogo) {
  display: block;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--main-white);
  font-family: var(--mainff);
}
h2 {
  font-size: 64px;
}

/* btn class */
.btn {
  border-radius: var(--btn-radius);
  font-size: 16px;
  font-weight: 500;
  transition: var(--transition);
  border: 1.9px solid var(--main-white);
  cursor: pointer;
  color: var(--main-white);
  text-transform: uppercase;
  display: inline-block;
  padding: 16px 24px;
  display: grid;
  flex-direction: row;
  justify-content: center;
  font-family: var(--mainff);
}
.nav-center {
  width: 90vw;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}
.section {
  padding: 5rem 0;
}
.section-center {
  width: 90vw;
  max-width: 1280px;
  margin: 0 auto;
}
/* media query */

@media screen and (min-width:800px) {
  h2 {
    font-size: 40px;
  }
}

/* 
=============
Navbar
=============
*/
.nav-bar {
  height: 5rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  z-index: 4;
}
.nav-logo {
  display: grid;
  grid-template-columns: 35px auto;
  column-gap: 0;
}
.nav-func {
  width: 130px;
  height: 32px;
}
.nav-logo h3 {
  transform: translateY(10%);
  width: 90px;
  height: 30px;
}
.connect-btn {
  display: grid;
  grid-template-columns: auto auto;
  place-items: center;
  padding: 0.25rem 0.5rem;
  border-radius: var(--btn-radius);
  background-color: var(--red-color);
  width: 130px;
  height: 32px;
  transition: var(--transition);
  cursor: pointer;
}
.connect-btn:hover {
  width: 150px;
}
.side-bar {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 0.5rem;
  justify-self: end;
}
.phantom-img {
  width: 24px;
  height: 24px;
}
.connect {
  transform: translateY(15%);
  height: 20px;
  font-family: var(--mainff);
}
.bars {
  color: var(--red-color);
  font-size: 2rem;
  cursor: pointer;
}
@media screen and (max-width:800px) {
  .desk-screen-nav {
    display: none;
  }
}
@media screen and (min-width:800px) {
  .bars {
    display: none;
  }
  .desk-screen-nav {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 2rem;  
    align-items: center;
  }
  .desk-screen-nav a {
    color: var(--main-white); 
  }
  .desk-screen-nav a{
    font-size: 1.15rem;
    transition: var(--transition);
  }
  .desk-screen-nav a:hover {
    color: var(--red-color);
  }
  .side-bar {
    column-gap: 4rem;
  }
}
/* 
=============
main stake
=============
*/
.desk-stake {
  display: grid;
}
.main-desc {
  display: grid;
  place-items: center;
}
.main-desc h1 {
  font-size: 64px;
  text-align: center;
  margin-bottom: 2rem;
}
.yellow-clr {
  color: var(--yellow-color);
}
.main-desc p {
  text-align: center;
  font-size: 1.5rem;
  word-spacing: 0.2rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}
.scroll-btn {
  text-transform: uppercase;
  display: grid;
  grid-template-columns: auto auto;
  transition: var(--transition);
  margin-bottom: 2rem;
}
.main-img {
  align-self: center;
}
.radial-bg {
  width: 100%;
  height: 800px;
  background: radial-gradient(100.59% 29.94% at 50% 100%, #ED1E79 0%, rgba(237, 30, 121, 0) 100%);
  position: absolute;
  top: 30%;
  left: 0;
  z-index: -1;
}
/* @media screen and (max-width:1170px) {
  .desk-side-bg {
    width: 500px;
  }
} */
@media screen and (max-width:630px) {
.desk-side-bg {
    display: none;
  }
}
@media screen and (min-width:630px) {
  .radial-bg {
    top: 45%;
  }
  .main-img {
    /* width: ; */
  }
}
@media screen and (min-width:992px) {
  .nav-bar {
    position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      margin: 0 auto;
  }
  .desk-stake {
    grid-template-columns: 1fr 1fr;
    height: 580px;
    justify-items: start;
  }
  .main-desc h1, .main-desc p {
    text-align: left;
  }
  .main-desc p {
    transform: translateY(-100%);
    text-align: justify;
  }
  .main-desc {
    height: 580px;
    margin-top: 7rem;
    justify-items: start;
    display: grid;
  }
  .main-section {
    padding: 0;
    position: relative;
  }
  .scroll-btn {
    justify-self: start;
    margin-bottom: 0;
    margin-top: 0;
    transform: translateY(-240%);
  }
  .main-img {
    transform: translateY(-5%);
    z-index: 1;
    width: 630px;
    display: grid;
    justify-self: end;
    position: absolute;
    top: 1rem;
    right: 0;
  }
      .desk-side-bg {
        background: radial-gradient(34.62% 63.65% at 100% 47.5%, #ED1E79 0%, rgba(237, 30, 121, 0) 100%);
        width: 1000px;
        height: 600px;
        position: absolute;
        top: 0;
        right: 0;
      }
  .radial-bg {
    display: none;
  }
  .main-desc h1 {
      margin-bottom: 0;
    }
}
/* 
=============
payment section
=============
*/
.mg-btm {
  color: gray;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}
.show-pay span {
  font-size: 2rem;
  color: gray;
}
.show-pay h2 {
  margin-bottom: 2rem;
}
.time-circles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 2rem;
}
.single-circle {
  justify-self: center;
}
.single-circle p {
  display: grid;
  width: 4rem;
  font-size: 1.3rem;
  color: var(--black-color);
  font-weight: bold;
  height: 4rem;
  background-color: var(--yellow-color);
  border-radius: 50%;
  place-items: center;
}
.single-circle h4 {
  text-align: center;
}
.pay-btns {
  display: grid;
  row-gap: 1rem;
  margin-bottom: 1rem;
}
.stake-btn {
  background: linear-gradient(90deg, #ED1E79 0%, #FBB03B 100%);
}
.wallet {
  background-color: var(--black-color);
  border-radius: var(--border-radius);
  padding: 1rem;
}
.wallet h3 {
  color: var(--main-white);
  margin-bottom: 0.5rem;
}
.wallet-head p {
  color: blue;
  margin-bottom: 1rem;
}
.wallet h4 {
  margin-bottom: 1rem;
}
.balance-money {
  display: flex;
  justify-content: space-between;
}
.balance-money h2{
  font-size: 1.9rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.balance-money span {
  font-size: 1rem;
}
/* 
=============
wallet
=============
*/
.staked-total-amnt {
  background-color: var(--red-color);
  padding: 1rem;
  border-radius: var(--border-radius);
}
.staked-amnt h5{
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.staked-amnt h2 {
  margin-top: 1rem;
  font-size: 1.9rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.staked-amnt span {
  font-size: 1rem;
}
.staked-index {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.staked-index h5 {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.staked-index h3 {
  font-weight: 500;
  font-size: 1.9rem;
}
.wthd-req {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.wthd-req h3 {
  font-size: 1.5rem;
}
.wthd-req p {
  line-height: 1.5;
  color: lightgrey;
  margin-bottom: 1.5rem;
}
.wthd-btn {
  background: var(--red-color);
  align-items: start;
  border-color: transparent;
  padding: 8px 16px;
  display: inline;
  border-radius: var(--btn-radius);
  color: var(--main-white);
  font-family: var(--mainff);
  text-transform: uppercase;
  cursor: pointer;
  transition: var(--transition);
}
.wthd-btn:hover {
  color: var(--red-color);
  background-color: var(--main-white);
}
@media screen and (min-width:992px) {
  .main-pay {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
  }
  .staked-total-amnt {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .staked-index {
    justify-self: end;
    column-gap: 1.5rem;
    align-items: end;
  }
    .wthd-req {
      margin-top: 2rem;
      margin-bottom: 0.5rem;
    }
    .pay-btns {
      grid-template-columns: 1fr 1fr;
      column-gap: 2rem;
      margin-bottom: 0;
    }
}
/* 
=============
intro
=============
*/
.staking-main {
  display: grid;
}
.staking-img {
  margin-bottom: 3rem;
  width: 324px;
  height: 324px;
  justify-self: center;
}
.staking-desc h2 {
  margin-bottom: 1rem;
  font-size: 44px;

}
.staking-desc span {
  font-weight: 700;
}

.staking-desc p {
  margin-bottom: 2rem;
  color: lightgrey;
  /* line-height: 24px; */
  line-height: 1.5rem;
}
.extra-desc {
  font-size: 24px;
  margin-bottom: 2rem;
  line-height: 36px;
}
.extra-desc span {
  color: var(--yellow-color);
}

@media screen and (min-width:992px) {
.staking-main {
  grid-template-columns: 1fr 1fr;
  height: 630px;
  }
  .staking-img {
    width: 500px;
  }
  .staking-desc {
    align-self: center;
    max-width: 590px;
  }
  .staking-desc p{
    font-size: 24px;
    line-height: 30px;
  }
.extra-desc {
  font-size: 2rem;
  line-height: 48px;
  max-width: 905px;
  }
}
/* 
=============
two buttons
=============
*/
.action-section {
  background-color: var(--yellow-color);
  padding: 2.5rem;
  border-radius: 24px;
  position: relative;
}
.action-head {
  text-align: center;
  margin-bottom: 2rem;
}
.action-head h2 {
    color: var(--black-color);
    font-weight: 600;
}
.black-btn {
  background-color: var(--black-color);
  color: var(--main-white);
  border-color: transparent;
}
.act-btn {
  border-color: var(--black-color);
  color: var(--black-color);
}
.btn-section {
  display: grid;
  row-gap: 1rem;
}
@media screen and (min-width:992px) {
  .btn-section {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
  .black-btn {
    width: 213px;
    justify-self: end;
  }
  .act-btn {
    width: 213px;
  }
}


/* FADE STYLE */
.fade-line {
  position: absolute;
  top: -3.5rem;
  left: 0;
  width: 100%;
  height: 84px;
  background: linear-gradient(180deg, #FBB03B 0%, rgba(251, 176, 59, 0) 100%);
  transform: matrix(1, 0, 0, -1, 0, 0);
}

/* 
=============
working
=============
*/
.working {
  display: grid;
}
.circle-img {
  width: 337px;
  height: 337px;
  justify-self: center;
  margin-bottom: 3rem;
}
.working-head h2 {
  font-size: 2.5rem;
  margin-bottom: 1.3rem;
}
.working-para p {
  color: lightgrey;
  line-height: 1.5rem;
}
.working-para span {
  color: var(--main-white);
  font-weight: 600;
}
.extra-working p{
  font-size: 1.5rem;
  line-height: 36px;
  margin: 2rem 0;
}
.extra-working span {
  color: var(--yellow-color);
}
.working-btns {
  display: grid;
  row-gap: 1rem;
}
.w-btn-1 {
  background-color: var(--red-color);
  border-color: transparent;
}
@media screen and (min-width:992px) {
  .working {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 2rem;
    grid-template-areas: 
    "a b"
    "c c"
    ;
  }
  .circle-img {
    grid-area: b;
    justify-self: end;
    width: 518px;
    height: 560px;
  }
  .working-para p{
    font-size: 20px;
    line-height: 30px;
  }
  .working-para-2 {
    margin-top: 1rem;
  }
  .working-desc {
    grid-area: a;
    align-self: center;
  }
  .working-head h2{
    font-size: 64px;
  }
.extra-working {
  max-width: 985px;
  grid-area: c;
  justify-self: end;
  margin-bottom: 2rem;
}
  .extra-working p{
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 0;
  }
  .working-btns {
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
  .working-btn {
    width: 309px;
  }
  .w-btn-1 {
    justify-self: end;
  }
  .w-btn-2 {
    justify-self: start;
  }
}
/* 
=============
staking pools
=============
*/
.pool-desc h2{
  font-size: 40px;
  margin-bottom: 1.5rem;
}
.staking-paras p{
  font-size: 16px;
  line-height: 24px;
  color: lightgrey;
}
.staking-paras {
  margin-bottom: 2rem;
}
.staking-paras span {
  font-weight: 700;
  color: var(--main-white);
}
.staking-paras .yellow-clr {
  color: var(--yellow-color);
}
.extra-staking p{
  margin-top: 1rem;
  font-size: 24px;
  line-height: 36px;
  color: var(--main-white);
}
.pool-btns {
  display: grid;
  row-gap: 1.3rem;
  margin-bottom: 2.5rem;
}
.single-pool {
  background-color: var(--black-color);
  padding: 1.5rem;
  border-radius: var(--border-radius);
}
.single-pool h3 {
  font-size: 24px;
  margin-bottom: 1.5rem;
}
.pool-stats h4 {
  color: lightgray;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.pool-stats h3 {
  font-weight: 500;
  margin-bottom: 1rem;
}
.pool-stats span{
  font-size: 14px;
  font-weight: 500;
  color: lightgray;
}
.pool-stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "a b"
  "c c"
  ;
}
.stat-2 {
  justify-self: end;
}
.stat-3 span {
  color: var(--yellow-color);
  font-size: 1.5rem;
}
.line {
  background-color: #d3d3d3;
  width: 100%;
  height: 1px;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  opacity: 0.5;
}
.pools-btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  margin-top: 1.5rem;
}
.btn-1 {
  justify-self: end;
}
.pool-opt {
  width: 150px;
}
.link-para {
  color: blue;
}
.pools-list {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
@media screen and (min-width:992px) {
  .pool-desc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2rem;
  }
  .pool-desc h2{
    font-size: 64px;
  }
  .pool-btns {
    grid-template-columns: 1fr 1fr;
    align-self: flex-end;
    column-gap: 1rem;
  }
  .staking-paras p {
    font-size: 20px;
    line-height: 30px;
  }
  .extra-staking p {
    font-size: 32px;
    line-height: 48px;
  }
  .pool-btns {
    width: 540px;
    justify-self: end;
  }
  .pool-btn {
    width: 260px;
  }
}

.pool-section {
  position: relative;
}
.radial-pool-bg {
  background: radial-gradient(84.11% 26.45% at 52.4% 0%, rgba(237, 30, 121, 0.65) 0%, rgba(237, 30, 121, 0.4) 41.49%, rgba(237, 30, 121, 0) 100%),
    #040404;
    width: 100%;
    height: 3539px;
    /* postion */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
@media screen and (min-width:992px) {
  .radial-pool-bg {
    height: 1289px;
  }
}
/* 
=============
footer
=============
*/

.footer-section {
  display: grid;
  place-items: center;
}
.foot-brand {
  width: 200px;
}
.foot-img {
  margin-bottom: 1.5rem;
}
.foot-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.foot-icons a{
  font-size: 1.35rem;
  color: var(--yellow-color);
  margin-bottom: 1.5rem;
  justify-self: center;
  transition: var(--transition);
}
.foot-icons a:hover {
  color: var(--red-color);
  transform: translateY(-0.25rem);
}
.rights p {
  color: #d3d3d3;
  text-transform: capitalize;
  
}
@media screen and (min-width:992px) {
  .black-bg {
    background-color: var(--black-color)  ;
  }
}